html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: rgb(31, 30, 30);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(77, 0, 74);
}
